.PlayerItem {
  display: flex;
  align-items: center;
  border : 1px solid #ccc;
  padding: 20px;
  border-radius: 8px;
  cursor: pointer;
  
  &:hover {
    background: #FFF;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
    border-radius: 16px;
  }
  .playerImage {
    width: 100px;
    height: 100px;
    margin-right: 20px;
    
    border: 1px solid #ccc;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50%;
    }
    
  }

  .playerInfo {
    flex: 1;

    .playerName {
      font-size: 24px;
      font-weight: bold;
    }

    .playerNickname {
      font-size: 16px;
      color: #666;
    }

    .playerPosition {
      font-size: 16px;
      color: #666;
    }

    .teamId {
      font-size: 16px;
      color: #666;
    }
  }
}