:root {
  --primary-text-color: #333;
  --secondary-text-color: #888;
}

body {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0;

  
}
#root {
  a {
    text-align: center;
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상 제거 */
  }
  box-sizing: border-box;
}